<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .imgWrap{
            width: 500px;
            height: 300px;
            text-align: center;
            border: 2px solid pink;
            display: table;
        }

        .imgWrap span{

            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="imgWrap">
        <span><img src="../images/women/qzx.png" alt="全智贤"/></span>
    </div>
</body>
</html>